body{
  margin-top:-1.4em;
}
#header{
  background-color: grey;
  color:white;
  text-align:center;
  margin-top:0;
  padding:2em 0 1em 0;
}
.subtitle{
  padding:5px;
}
#navContainer{
  flex-direction: column; /* TODO: set responsive min and max width */
  padding: 0;
}
.row{
  margin:0;
}
.option{
  background-color:gainsboro;
  border-bottom: 0.5px solid black;
  border-right: 1px solid black;
  padding:7px;
  text-align:center;
  display:block;
  width:100%;
}
.option:hover{
  background-color:lightgrey;
  cursor:pointer;
  color:steelblue;
}
/* ~~~~~~~~~~~~~~~~~ contentContainer styling below ~~~~~~~~~~~~~~~~~~ */
#contentContainer{
  flex-direction: column;
  padding:0;
  font-size:1.5em;
}
.contentHeading{
  color:white;
  background-color:steelblue;
  height:2em;
  margin:8px 0 0 13px;
}
.content{
  margin:8px 0 0 13px;
  padding:21px;
}
.addABugFakeBtn{
  cursor:default;
  background-color:indianred;
  color:white;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom:2px solid firebrick;
  border-radius:5px;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.fa-heart{
  color:red;
}
#subfooter{
  background-color:black;
  color:white;
  padding:10px;
  text-align:center;
}
#footer{
  background-color:grey;
  text-align:center;
  padding:5px;
}
#githubLink{
  color:lightgrey;
  cursor:pointer;
  text-decoration: none;
}
#githubLink:hover{
  color:white;
}
