body{
  margin-top:-1.4em;
}
#foldImage{
  height:49px;
  float:left;
  margin-top: -0.5em;
  position:relative;
}
#spaText{
  background-color:black;
  color:green;
  width:40px;
  margin-top:-0.67em;
  height:3em;
  position:absolute;
}
#spaWarning{
  color:moccasin;
  float:left;
  position:absolute;
  margin-left:4em;
  margin-top:0.1em;
  display:none;
}
#mascotImage{
  height:9em;
  width:12em;
}
#header{
  background-color: slategrey;
  color:white;
  text-align:center;
  margin-top:0;
  padding:2em 0 1em 0;
}
.subtitle{
  padding:5px;
}
#navContainer{
  flex-direction: column; /* TODO: set responsive min and max width */
  padding: 0;
  height:100vh; /* TODO: leaving this in breaks the page when window height is reduced, removing it forces the area beneath the footer vacant. Fix. */
}
.row{
  margin:0;
}
.option{
  background-color:gainsboro;
  border-bottom: 0.5px solid black;
  border-right: 1px solid black;
  padding:7px;
  text-align:center;
  display:block;
  width:100%;
}
.option:focus{
  outline:0;
}
.option:hover{
  background-color:lightgrey;
  cursor:pointer;
  color:steelblue;
}
/* ~~~~~~~~~~~~~~~~~ contentContainer styling below ~~~~~~~~~~~~~~~~~~ */
#contentContainer{
  flex-direction: column;
  padding:0;
  font-size:1.5em;
}
.contentHeading{
  color:white;
  height:2em;
  margin:8px 0 0 13px;
}
.welcomeContentHeading{
  background-color:steelblue;
}
.algorithmContentHeading{
  background-color:teal;
}
.content{
  margin:8px 0 0 13px;
  padding:21px;
}
.buttons{
  color:white;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius:5px;
}
.buttons:focus{
  outline:0;
}
.buttons:hover{
  opacity:0.8;
}
.codeSpace{
  background-color:whitesmoke;
  color:black;
  padding:1em;
  border-radius: 5px;
}
.marginLeft1{
  margin-left:1em;
}
.marginLeft2{
  margin-left:2em;
}
.addABugBtn{
  cursor:pointer;
  background-color:indianred;
  border-bottom:2px solid firebrick;
}
.returnBtn{
  cursor:pointer;
  background-color:mediumaquamarine;
  border-bottom:2px solid mediumseagreen;
}
.clearBtn{
  cursor:pointer;
  background-color:grey;
  border-bottom:2px solid dimgrey;
}
.userInput{
  border-bottom:3px solid transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width:70px;
  text-decoration: none;
  text-align:center;
}
.userInput:focus{
  outline:0;
}
.userInput:hover{
  border-bottom:3px solid skyblue;
}
.algoResult{
  border:0;
  text-decoration:none;
  width: 555px;
}
.algoResult:focus{
  outline:0;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.fa-heart{
  color:red;
}
#subfooter{
  background-color:black;
  color:white;
  padding:10px;
  text-align:center;
}
#footer{
  background-color:slategrey;
  text-align:center;
  padding:5px;
}
#githubLink{
  color:lightgrey;
  cursor:pointer;
  text-decoration: none;
}
#githubLink:hover{
  color:white;
}
.bodyWrap{
  height:100vh;
}
